<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 "> </div>
    <div class="col-sm-6 col-md-4 ">
      <h1 class="text-center login-title">Sign in to continue to 3pm</h1>
      <div class="account-wall">
        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
             alt="">
        <form class="form-signin"

              (ngSubmit)="login()" #loginForm="ngForm"
        >
          <input name="Email input" type="text" class="form-control" placeholder="Email" required autofocus
                 [(ngModel)]="email"
                 #emailField="ngModel"
          >
          <input  name="Password Input" type="password" class="form-control" placeholder="Password" required
          [(ngModel)]="password"
                 #passordField="ngModel"
          >
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in</button>

        </form>

  </div>
</div>
